<header class="doc-header">
  <div class="doc-header__top">
    <div class="doc-header__company">
      <p class="doc-header__company-name">Macro Coats Pvt Ltd</p>
      <p class="doc-header__address">
        PL.NO 14 SF.NO 224/11, Kalaimagal Nagar Part 4, Pazanthandalam<br>
        Kundrathur, Chennai – 600132
      </p>
    </div>
    <div class="doc-header__meta">
      <div>GST: 33AARCM7377G1ZY</div>
      <div>Ph: +91-XXXXXXXXXX</div>
      <div>info@macrocoats.in</div>
      <div>www.macrocoats.in</div>
    </div>
  </div>
  <div class="doc-header__title">{{_meta.docTitle}}</div>
</header>
